src/main/resources/ocpp.xsd

<s:schema xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="urn://Ocpp/Cs/2015/10/"
	targetNamespace="urn://Ocpp/Cs/2015/10/" elementFormDefault="qualified">

	<!-- Begin of types shared with ChargePointService -->
	<s:simpleType name="IdToken">
		<s:annotation>
			<s:documentation>Type of string defining identification token, e.g.
				RFID or credit card number. To
				be treated as case insensitive.
			</s:documentation>
		</s:annotation>
		<s:restriction base="s:string">
			<s:maxLength value="20" />
		</s:restriction>
	</s:simpleType>

	<s:simpleType name="CiString20Type">
		<s:annotation>
			<s:documentation>String of maximum 20 printable characters. To be
				treated as case insensitive.
			</s:documentation>
		</s:annotation>
		<s:restriction base="s:string">
			<s:maxLength value="20" />
		</s:restriction>
	</s:simpleType>

	<s:simpleType name="CiString25Type">
		<s:annotation>
			<s:documentation>String of maximum 25 printable characters. To be
				treated as case insensitive.
			</s:documentation>
		</s:annotation>
		<s:restriction base="s:string">
			<s:maxLength value="25" />
		</s:restriction>
	</s:simpleType>

	<s:simpleType name="CiString50Type">
		<s:annotation>
			<s:documentation>String of maximum 50 printable characters. To be
				treated as case insensitive.
			</s:documentation>
		</s:annotation>
		<s:restriction base="s:string">
			<s:maxLength value="50" />
		</s:restriction>
	</s:simpleType>

	<s:simpleType name="CiString255Type">
		<s:annotation>
			<s:documentation>String of maximum 255 printable characters. To be
				treated as case insensitive.
			</s:documentation>
		</s:annotation>
		<s:restriction base="s:string">
			<s:maxLength value="255" />
		</s:restriction>
	</s:simpleType>

	<s:simpleType name="CiString500Type">
		<s:annotation>
			<s:documentation>String of maximum 500 printable characters. To be
				treated as case insensitive.
			</s:documentation>
		</s:annotation>
		<s:restriction base="s:string">
			<s:maxLength value="500" />
		</s:restriction>
	</s:simpleType>

	<s:simpleType name="AuthorizationStatus">
		<s:annotation>
			<s:documentation>Defines the authorization-status-value
			</s:documentation>
		</s:annotation>
		<s:restriction base="s:string">
			<s:enumeration value="Accepted" />
			<s:enumeration value="Blocked" />
			<s:enumeration value="Expired" />
			<s:enumeration value="Invalid" />
			<s:enumeration value="ConcurrentTx" />
		</s:restriction>
	</s:simpleType>

	<s:complexType name="IdTagInfo">
		<s:sequence>
			<s:element name="status" type="tns:AuthorizationStatus"
				minOccurs="1" maxOccurs="1" />
			<s:element name="expiryDate" type="s:dateTime"
				minOccurs="0" maxOccurs="1" />
			<s:element name="parentIdTag" type="tns:IdToken"
				minOccurs="0" maxOccurs="1" />
		</s:sequence>
	</s:complexType>
	<!-- End of types shared with ChargePointService -->

	<s:complexType name="AuthorizeRequest">
		<s:annotation>
			<s:documentation>Defines the Authorize.req PDU</s:documentation>
		</s:annotation>
		<s:sequence>
			<s:element name="idTag" type="tns:IdToken" minOccurs="1"
				maxOccurs="1" />
		</s:sequence>
	</s:complexType>

	<s:complexType name="AuthorizeResponse">
		<s:annotation>
			<s:documentation>Defines the Authorize.conf PDU</s:documentation>
		</s:annotation>
		<s:sequence>
			<s:element name="idTagInfo" type="tns:IdTagInfo"
				minOccurs="1" maxOccurs="1" />
		</s:sequence>
	</s:complexType>

	<s:complexType name="StartTransactionRequest">
		<s:annotation>
			<s:documentation>Defines the StartTransaction.req PDU
			</s:documentation>
		</s:annotation>
		<s:sequence>
			<s:element name="connectorId" type="s:int" minOccurs="1"
				maxOccurs="1" />
			<s:element name="idTag" type="tns:IdToken" minOccurs="1"
				maxOccurs="1" />
			<s:element name="timestamp" type="s:dateTime" minOccurs="1"
				maxOccurs="1" />
			<s:element name="meterStart" type="s:int" minOccurs="1"
				maxOccurs="1" />
			<s:element name="reservationId" type="s:int" minOccurs="0"
				maxOccurs="1" />
		</s:sequence>
	</s:complexType>

	<s:complexType name="StartTransactionResponse">
		<s:annotation>
			<s:documentation>Defines the StartTransaction.conf PDU
			</s:documentation>
		</s:annotation>
		<s:sequence>
			<s:element name="transactionId" type="s:int" minOccurs="1"
				maxOccurs="1" />
			<s:element name="idTagInfo" type="tns:IdTagInfo"
				minOccurs="1" maxOccurs="1" />
		</s:sequence>
	</s:complexType>

	<s:simpleType name="Reason">
		<s:annotation>
			<s:documentation>Reason for stopping a transaction</s:documentation>
		</s:annotation>
		<s:restriction base="s:string">
			<s:enumeration value="EmergencyStop" />
			<s:enumeration value="EVDisconnected" />
			<s:enumeration value="HardReset" />
			<s:enumeration value="Local" />
			<s:enumeration value="Other" />
			<s:enumeration value="PowerLoss" />
			<s:enumeration value="Reboot" />
			<s:enumeration value="Remote" />
			<s:enumeration value="SoftReset" />
			<s:enumeration value="UnlockCommand" />
			<s:enumeration value="DeAuthorized" />
		</s:restriction>
	</s:simpleType>

	<s:complexType name="StopTransactionRequest">
		<s:annotation>
			<s:documentation>Defines the StopTransaction.req PDU
			</s:documentation>
		</s:annotation>
		<s:sequence>
			<s:element name="transactionId" type="s:int" minOccurs="1"
				maxOccurs="1" />
			<s:element name="idTag" type="tns:IdToken" minOccurs="0"
				maxOccurs="1" />
			<s:element name="timestamp" type="s:dateTime" minOccurs="1"
				maxOccurs="1" />
			<s:element name="meterStop" type="s:int" minOccurs="1"
				maxOccurs="1" />
			<s:element name="reason" type="tns:Reason" minOccurs="0"
				maxOccurs="1" />
			<s:element name="transactionData" type="tns:MeterValue"
				minOccurs="0" maxOccurs="unbounded" />
		</s:sequence>
	</s:complexType>

	<s:complexType name="StopTransactionResponse">
		<s:annotation>
			<s:documentation>Defines the StopTransaction.conf PDU
			</s:documentation>
		</s:annotation>
		<s:sequence>
			<s:element name="idTagInfo" type="tns:IdTagInfo"
				minOccurs="0" maxOccurs="1" />
		</s:sequence>
	</s:complexType>

	<s:complexType name="HeartbeatRequest">
		<s:annotation>
			<s:documentation>Defines the Heartbeat.req PDU</s:documentation>
		</s:annotation>
	</s:complexType>

	<s:complexType name="HeartbeatResponse">
		<s:annotation>
			<s:documentation>Defines the Heartbeat.conf PDU</s:documentation>
		</s:annotation>
		<s:sequence>
			<s:element name="currentTime" type="s:dateTime"
				minOccurs="1" maxOccurs="1" />
		</s:sequence>
	</s:complexType>

	<s:simpleType name="ReadingContext">
		<s:restriction base="s:string">
			<s:enumeration value="Interruption.Begin" />
			<s:enumeration value="Interruption.End" />
			<s:enumeration value="Other" />
			<s:enumeration value="Sample.Clock" />
			<s:enumeration value="Sample.Periodic" />
			<s:enumeration value="Transaction.Begin" />
			<s:enumeration value="Transaction.End" />
			<s:enumeration value="Trigger" />
		</s:restriction>
	</s:simpleType>

	<s:simpleType name="Measurand">
		<s:restriction base="s:string">
			<s:enumeration value="Current.Export" />
			<s:enumeration value="Current.Import" />
			<s:enumeration value="Current.Offered" />
			<s:enumeration value="Energy.Active.Export.Register" />
			<s:enumeration value="Energy.Active.Import.Register" />
			<s:enumeration value="Energy.Reactive.Export.Register" />
			<s:enumeration value="Energy.Reactive.Import.Register" />
			<s:enumeration value="Energy.Active.Export.Interval" />
			<s:enumeration value="Energy.Active.Import.Interval" />
			<s:enumeration value="Energy.Reactive.Export.Interval" />
			<s:enumeration value="Energy.Reactive.Import.Interval" />
			<s:enumeration value="Frequency" />
			<s:enumeration value="Power.Active.Export" />
			<s:enumeration value="Power.Active.Import" />
			<s:enumeration value="Power.Factor" />
			<s:enumeration value="Power.Offered" />
			<s:enumeration value="Power.Reactive.Export" />
			<s:enumeration value="Power.Reactive.Import" />
			<s:enumeration value="RPM" />
			<s:enumeration value="SoC" />
			<s:enumeration value="Temperature" />
			<s:enumeration value="Voltage" />
		</s:restriction>
	</s:simpleType>

	<s:simpleType name="ValueFormat">
		<s:restriction base="s:string">
			<s:enumeration value="Raw" />
			<s:enumeration value="SignedData" />
		</s:restriction>
	</s:simpleType>

	<s:simpleType name="UnitOfMeasure">
		<s:restriction base="s:string">
			<s:enumeration value="Celsius" />
			<s:enumeration value="Fahrenheit" />
			<s:enumeration value="Wh" />
			<s:enumeration value="kWh" />
			<s:enumeration value="varh" />
			<s:enumeration value="kvarh" />
			<s:enumeration value="W" />
			<s:enumeration value="kW" />
			<s:enumeration value="VA" />
			<s:enumeration value="kVA" />
			<s:enumeration value="var" />
			<s:enumeration value="kvar" />
			<s:enumeration value="A" />
			<s:enumeration value="V" />
			<s:enumeration value="K" />
			<s:enumeration value="Percent" />
		</s:restriction>
	</s:simpleType>

	<s:simpleType name="Phase">
		<s:restriction base="s:string">
			<s:enumeration value="L1" />
			<s:enumeration value="L2" />
			<s:enumeration value="L3" />
			<s:enumeration value="N" />
			<s:enumeration value="L1-N" />
			<s:enumeration value="L2-N" />
			<s:enumeration value="L3-N" />
			<s:enumeration value="L1-L2" />
			<s:enumeration value="L2-L3" />
			<s:enumeration value="L3-L1" />
		</s:restriction>
	</s:simpleType>

	<s:simpleType name="Location">
		<s:restriction base="s:string">
			<s:enumeration value="Body" />
			<s:enumeration value="Cable" />
			<s:enumeration value="EV" />
			<s:enumeration value="Inlet" />
			<s:enumeration value="Outlet" />
		</s:restriction>
	</s:simpleType>

	<s:complexType name="SampledValue">
		<s:annotation>
			<s:documentation>Defines the SampledValue-value</s:documentation>
		</s:annotation>
		<s:sequence>
			<s:element name="value" type="s:string" minOccurs="1"
				maxOccurs="1" /> <!-- default="Sample.Periodic" -->
			<s:element name="context" type="tns:ReadingContext"
				minOccurs="0" maxOccurs="1" /> <!-- default="Sample.Periodic" -->
			<s:element name="format" type="tns:ValueFormat"
				minOccurs="0" maxOccurs="1" /> <!-- default="Raw" -->
			<s:element name="measurand" type="tns:Measurand"
				minOccurs="0" maxOccurs="1" /> <!-- default="Energy.Active.Import.Register" -->
			<s:element name="phase" type="tns:Phase" minOccurs="0"
				maxOccurs="1" /> <!-- default="Energy.Active.Import.Register" -->
			<s:element name="location" type="tns:Location"
				minOccurs="0" maxOccurs="1" /> <!-- default="Outlet" -->
			<s:element name="unit" type="tns:UnitOfMeasure"
				minOccurs="0" maxOccurs="1" /> <!-- default="Wh" -->
		</s:sequence>
	</s:complexType>

	<s:complexType name="MeterValue">
		<s:annotation>
			<s:documentation>Defines single value of the meter-value-value
			</s:documentation>
		</s:annotation>
		<s:sequence>
			<s:element name="timestamp" type="s:dateTime" minOccurs="1"
				maxOccurs="1" />
			<s:element name="sampledValue" type="tns:SampledValue"
				minOccurs="1" maxOccurs="unbounded" />
		</s:sequence>
	</s:complexType>

	<s:complexType name="MeterValuesRequest">
		<s:annotation>
			<s:documentation>Defines the MeterValues.req PDU</s:documentation>
		</s:annotation>
		<s:sequence>
			<s:element name="connectorId" type="s:int" minOccurs="1"
				maxOccurs="1" />
			<s:element name="transactionId" type="s:int" minOccurs="0"
				maxOccurs="1" />
			<s:element name="meterValue" type="tns:MeterValue"
				minOccurs="0" maxOccurs="unbounded" />
		</s:sequence>
	</s:complexType>

	<s:complexType name="MeterValuesResponse">
		<s:annotation>
			<s:documentation>Defines the MeterValues.conf PDU</s:documentation>
		</s:annotation>
	</s:complexType>

	<s:complexType name="BootNotificationRequest">
		<s:annotation>
			<s:documentation>Defines the BootNotification.req PDU
			</s:documentation>
		</s:annotation>
		<s:sequence>
			<s:element name="chargePointVendor"
				type="tns:CiString20Type" minOccurs="1" maxOccurs="1" />
			<s:element name="chargePointModel"
				type="tns:CiString20Type" minOccurs="1" maxOccurs="1" />
			<s:element name="chargePointSerialNumber"
				type="tns:CiString25Type" minOccurs="0" maxOccurs="1" />
			<s:element name="chargeBoxSerialNumber"
				type="tns:CiString25Type" minOccurs="0" maxOccurs="1" />
			<s:element name="firmwareVersion" type="tns:CiString50Type"
				minOccurs="0" maxOccurs="1" />
			<s:element name="iccid" type="tns:CiString20Type"
				minOccurs="0" maxOccurs="1" />
			<s:element name="imsi" type="tns:CiString20Type"
				minOccurs="0" maxOccurs="1" />
			<s:element name="meterType" type="tns:CiString25Type"
				minOccurs="0" maxOccurs="1" />
			<s:element name="meterSerialNumber"
				type="tns:CiString25Type" minOccurs="0" maxOccurs="1" />
		</s:sequence>
	</s:complexType>

	<s:simpleType name="RegistrationStatus">
		<s:annotation>
			<s:documentation>Defines the registration-status-value
			</s:documentation>
		</s:annotation>
		<s:restriction base="s:string">
			<s:enumeration value="Accepted" />
			<s:enumeration value="Pending" />
			<s:enumeration value="Rejected" />
		</s:restriction>
	</s:simpleType>

	<s:complexType name="BootNotificationResponse">
		<s:annotation>
			<s:documentation>Defines the BootNotification.conf PDU
			</s:documentation>
		</s:annotation>
		<s:sequence>
			<s:element name="status" type="tns:RegistrationStatus"
				minOccurs="1" maxOccurs="1" />
			<s:element name="currentTime" type="s:dateTime"
				minOccurs="1" maxOccurs="1" />
			<s:element name="interval" type="s:int" minOccurs="1"
				maxOccurs="1" />
		</s:sequence>
	</s:complexType>

	<s:simpleType name="ChargePointErrorCode">
		<s:annotation>
			<s:documentation>Defines the charge-point-error-value
			</s:documentation>
		</s:annotation>
		<s:restriction base="s:string">
			<s:enumeration value="ConnectorLockFailure" />
			<s:enumeration value="EVCommunicationError" />
			<s:enumeration value="GroundFailure" />
			<s:enumeration value="HighTemperature" />
			<s:enumeration value="InternalError" />
			<s:enumeration value="LocalListConflict" />
			<s:enumeration value="NoError" />
			<s:enumeration value="OtherError" />
			<s:enumeration value="OverCurrentFailure" />
			<s:enumeration value="OverVoltage" />
			<s:enumeration value="PowerMeterFailure" />
			<s:enumeration value="PowerSwitchFailure" />
			<s:enumeration value="ReaderFailure" />
			<s:enumeration value="ResetFailure" />
			<s:enumeration value="UnderVoltage" />
			<s:enumeration value="WeakSignal" />
		</s:restriction>
	</s:simpleType>

	<s:simpleType name="ChargePointStatus">
		<s:annotation>
			<s:documentation>Defines the charge-point-status-value
			</s:documentation>
		</s:annotation>
		<s:restriction base="s:string">
			<s:enumeration value="Available" />
			<s:enumeration value="Preparing" />
			<s:enumeration value="Charging" />
			<s:enumeration value="SuspendedEV" />
			<s:enumeration value="SuspendedEVSE" />
			<s:enumeration value="Finishing" />
			<s:enumeration value="Reserved" />
			<s:enumeration value="Faulted" />
			<s:enumeration value="Unavailable" />
		</s:restriction>
	</s:simpleType>

	<s:complexType name="StatusNotificationRequest">
		<s:annotation>
			<s:documentation>Defines the StatusNotification.req PDU
			</s:documentation>
		</s:annotation>
		<s:sequence>
			<s:element name="connectorId" type="s:int" minOccurs="1"
				maxOccurs="1" />
			<s:element name="status" type="tns:ChargePointStatus"
				minOccurs="1" maxOccurs="1" />
			<s:element name="errorCode" type="tns:ChargePointErrorCode"
				minOccurs="1" maxOccurs="1" />
			<s:element name="info" type="tns:CiString50Type"
				minOccurs="0" maxOccurs="1" />
			<s:element name="timestamp" type="s:dateTime" minOccurs="0"
				maxOccurs="1" />
			<s:element name="vendorId" type="tns:CiString255Type"
				minOccurs="0" maxOccurs="1" />
			<s:element name="vendorErrorCode" type="tns:CiString50Type"
				minOccurs="0" maxOccurs="1" />
		</s:sequence>
	</s:complexType>

	<s:complexType name="StatusNotificationResponse">
		<s:annotation>
			<s:documentation>Defines the StatusNotification.conf PDU
			</s:documentation>
		</s:annotation>
	</s:complexType>

	<s:simpleType name="FirmwareStatus">
		<s:annotation>
			<s:documentation>Defines the firmware-status-value</s:documentation>
		</s:annotation>
		<s:restriction base="s:string">
			<s:enumeration value="Downloaded" />
			<s:enumeration value="DownloadFailed" />
			<s:enumeration value="Downloading" />
			<s:enumeration value="Idle" />
			<s:enumeration value="InstallationFailed" />
			<s:enumeration value="Installed" />
			<s:enumeration value="Installing" />
		</s:restriction>
	</s:simpleType>

	<s:complexType name="FirmwareStatusNotificationRequest">
		<s:annotation>
			<s:documentation>Defines the FirmwareStatusNotification.req PDU
			</s:documentation>
		</s:annotation>
		<s:sequence>
			<s:element name="status" type="tns:FirmwareStatus"
				minOccurs="1" maxOccurs="1" />
		</s:sequence>
	</s:complexType>

	<s:complexType name="FirmwareStatusNotificationResponse">
		<s:annotation>
			<s:documentation>Defines the FirmwareStatusNotification.conf PDU
			</s:documentation>
		</s:annotation>
	</s:complexType>

	<s:simpleType name="DiagnosticsStatus">
		<s:annotation>
			<s:documentation>Defines the diagnostics-status-value
			</s:documentation>
		</s:annotation>
		<s:restriction base="s:string">
			<s:enumeration value="Idle" />
			<s:enumeration value="Uploaded" />
			<s:enumeration value="UploadFailed" />
			<s:enumeration value="Uploading" />
		</s:restriction>
	</s:simpleType>

	<s:complexType
		name="DiagnosticsStatusNotificationRequest">
		<s:annotation>
			<s:documentation>Defines the DiagnosticsStatusNotification.req PDU
			</s:documentation>
		</s:annotation>
		<s:sequence>
			<s:element name="status" type="tns:DiagnosticsStatus"
				minOccurs="1" maxOccurs="1" />
		</s:sequence>
	</s:complexType>

	<s:complexType
		name="DiagnosticsStatusNotificationResponse">
		<s:annotation>
			<s:documentation>Defines the DiagnosticsStatusNotification.conf PDU
			</s:documentation>
		</s:annotation>
	</s:complexType>

	<s:complexType name="DataTransferRequest">
		<s:annotation>
			<s:documentation>Defines the DataTransfer.req PDU</s:documentation>
		</s:annotation>
		<s:sequence>
			<s:element name="vendorId" type="tns:CiString255Type"
				minOccurs="1" maxOccurs="1" />
			<s:element name="messageId" type="tns:CiString50Type"
				minOccurs="0" maxOccurs="1" />
			<s:element name="data" type="s:string" minOccurs="0"
				maxOccurs="1" />
		</s:sequence>
	</s:complexType>

	<s:simpleType name="DataTransferStatus">
		<s:annotation>
			<s:documentation>Defines the status returned in DataTransfer.conf
			</s:documentation>
		</s:annotation>
		<s:restriction base="s:string">
			<s:enumeration value="Accepted" />
			<s:enumeration value="Rejected" />
			<s:enumeration value="UnknownMessageId" />
			<s:enumeration value="UnknownVendorId" />
		</s:restriction>
	</s:simpleType>

	<s:complexType name="DataTransferResponse">
		<s:annotation>
			<s:documentation>Defines the DataTransfer.conf PDU</s:documentation>
		</s:annotation>
		<s:sequence>
			<s:element name="status" type="tns:DataTransferStatus"
				minOccurs="1" maxOccurs="1" />
			<s:element name="data" type="s:string" minOccurs="0"
				maxOccurs="1" />
		</s:sequence>
	</s:complexType>

	<s:element name="chargeBoxIdentity" type="s:string" />
	<s:element name="authorizeRequest"
		type="tns:AuthorizeRequest" />
	<s:element name="authorizeResponse"
		type="tns:AuthorizeResponse" />
	<s:element name="bootNotificationRequest"
		type="tns:BootNotificationRequest" />
	<s:element name="bootNotificationResponse"
		type="tns:BootNotificationResponse" />
	<s:element name="dataTransferRequest"
		type="tns:DataTransferRequest" />
	<s:element name="dataTransferResponse"
		type="tns:DataTransferResponse" />
	<s:element name="diagnosticsStatusNotificationRequest"
		type="tns:DiagnosticsStatusNotificationRequest" />
	<s:element name="diagnosticsStatusNotificationResponse"
		type="tns:DiagnosticsStatusNotificationResponse" />
	<s:element name="firmwareStatusNotificationRequest"
		type="tns:FirmwareStatusNotificationRequest" />
	<s:element name="firmwareStatusNotificationResponse"
		type="tns:FirmwareStatusNotificationResponse" />
	<s:element name="heartbeatRequest"
		type="tns:HeartbeatRequest" />
	<s:element name="heartbeatResponse"
		type="tns:HeartbeatResponse" />
	<s:element name="meterValuesRequest"
		type="tns:MeterValuesRequest" />
	<s:element name="meterValuesResponse"
		type="tns:MeterValuesResponse" />
	<s:element name="startTransactionRequest"
		type="tns:StartTransactionRequest" />
	<s:element name="startTransactionResponse"
		type="tns:StartTransactionResponse" />
	<s:element name="statusNotificationRequest"
		type="tns:StatusNotificationRequest" />
	<s:element name="statusNotificationResponse"
		type="tns:StatusNotificationResponse" />
	<s:element name="stopTransactionRequest"
		type="tns:StopTransactionRequest" />
	<s:element name="stopTransactionResponse"
		type="tns:StopTransactionResponse" />
</s:schema>